 
/* .bi.bi-cart3 {
color: aliceblue;
fill: currentColor;
height: 30px;
width: 30px;
} */
 #cart {
    color: aliceblue;
    fill: currentColor;

}   

img cart {
    color: aliceblue;
    fill: currentColor;
    height: 30px;
    width: 30px;
} 