
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 16px;
    font-style: bold;
    font-variant: normal;
    color: rgb(28,71,53);
}


h1 {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Baskerville', serif;
    font-size: 40px;
    font-style: bold;
    font-variant: normal;
    font-weight: 400;
    line-height: 48px;
    color: rgb(28,71,53);
}

p.h1, .display-4 {
    font-family: 'Baskerville', serif;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 58px;
    color: rgb(28,71,53);
}

p.h2 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 32px;
    font-style: bold;
    font-variant: normal;
    font-weight: 400;
    line-height: 48px;
    color: rgb(28,71,53);
}

a.h3:hover{
    color: #3C8E6A;
    text-decoration: none;
}


p.h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 17px; }

h4{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 24px;
    font-style: bold;
    font-variant: normal;
    color: rgb(28,71,53);
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 24px;
    color: #F2D6D4;
    padding: 1.5rem;
    background-color:rgb(28,71,53);
}

.navbar{
    background-color:rgb(28,71,53);
}

.navbar-dark .navbar-nav .nav-link:hover{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 24px;
    color: white;
    padding: 1.5rem;
}

.footer-nav-link{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 17px;
    color: #F2D6D4;
    padding: 1.5rem;

}

.dropdown-item{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 24px;
    color: #F2D6D4;
    background-color: rgb(28,71,53);
}

.dropdown-item:hover{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 24px;
    color:  rgb(28,71,53) ;
    background-color:#F2D6D4;
}

.dropdown-menu{
    background-color: rgb(28,71,53);
}


/* Main */

.card-text{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-size: 16px;
    font-style: bold;
    font-variant: normal;
    color: rgb(28,71,53);
}


.btn-primary {
    color:#F2D6D4;
}
.btn-primary:hover {
    color:white;
}


/*  Jumbotron */
.jumbotron{
    background-color: #F2D6D4;
    display: none;
    }

p.lead {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: rgb(28,71,53);
}


 #cart {
    color: white;
    height: 30px;
    background-color:rgb(28,71,53);
}

#addToCart {
    color: white;
    height: 20px;
    background-color:rgb(28,71,53);
    padding: 0px 9px 4px 0px;
}

#logo {
    height:100px;
}
#sM {
    height: 60px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.mD{
    width: 244px;
}

/* Sidebar */



}
.sidebar-item {
  border-style: solid;
  border-width: medium;
  border-color: #07332d;
}




#iconSun {
    margin: 0 10px 2px 10px;
}
#iconWater {
    margin: 0 10px 2px 10px;
}
#iconFlower {
    margin: 0 10px 2px 10px;
}
#prodPrice {
    margin-top: 7px;
    font-weight: bold;
}





/* [1] The container */
.img-hover-zoom {
    height: 260px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }

  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }

  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

/* HomePage -- Main */
#homepage-about {
  background-color: #ecdbd2;
}

#aboutus-emphasis {
  color: #3f8c68;
  padding-left: .5em;
}

#aboutus-textblock{
  padding-top: 1.5em;
  padding-bottom: 3em;
  margin-bottom: 2em;
}

.sidebar-img-small {
  display: none;
}


/* Media Queries */
@media only screen and (min-width: 1200px){
/* for desktop: */
.card-img-top {
  width: 16rem;
}

.card {
  width: 16rem;
}

.card-body{
  background-color: #ffffff;
}

.jumbotron {
  display: block;
}

#vl {
    border-left: solid;
    border-width: medium;
    border-color: #1c4735;
}

.sidebar-img-small {
  display: block;
}

/* .sidebar-img {
  display: none; */

}

@media only screen and (min-width: 977px) {
  /* For tablet: */
.card-img-top {
  min-width: 160px;
  max-width: 16em;
}

.mD{
min-width: 10em;
max-width: 12em;
}

.jumbotron {
  display: block;
}

.sidebar-img {
  display: none;
}
.sidebar-img-small {
  display: block;
}


#vl {
    border-left: solid;
    border-width: medium;
    border-color: #1c4735;
}



}
